body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 20px;
    text-align: center;
}


.myCanvas {
    margin: auto;
    /* width: 500px; */
    height: 70vh;
    width: 500px;
    border-radius: 8px;
    border: 5px solid #f4f4f4 ;
    background-color: #f4f6ff;
    border-width: 2px;
    /* border-color: #505b61; */
    /* box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22); */
    transition: 0.4s;
    /* background-color: #06090c4a; */
    overflow: hidden;
    /* this fixes the overflow:hidden in Chrome/Opera */
}

#mue{
    position: absolute;
    margin: 50px;
    top: 38vh;
    height: 10px;
    width: 350px;
    cursor: pointer;
}

h3{
    text-align: center;
    position: relative;
    top: 30px;
}
button{
  position: relative;
  top: 400px;
  left: 220px;
  background-color: #fff;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
}
button:hover{
    cursor: pointer;
    background-color: grey;
    box-shadow: 2px rgb(31, 31, 31);
}

@media (max-width: 600px) {
    .myCanvas {
        width: 100%; /* Adjust width for smaller screens */
        height: 100%; /* Adjust height for smaller screens */
    }

    #mue {
        top: 30vh; /* Adjust top position for smaller screens */
        margin-left: 45px; /* Adjust margin for smaller screens */
    }

    h3 {
        top: 10px; /* Adjust top position for smaller screens */
    }

    button {
        top: 35vh; /* Adjust button position for smaller screens */
        left:200px
    }
}