body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 20px;
    text-align: center;
}


.myCanvas {
    margin: auto;
    /* width: 500px; */
    height: 70vh;
    width: 500px;
    border-radius: 8px;
    border: 5px solid #f4f4f4 ;
    background-color: #f4f6ff;
    border-width: 2px;
    /* border-color: #505b61; */
    /* box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22); */
    cursor: pointer;
    transition: 0.4s;
    /* background-color: #06090c4a; */
    overflow: hidden;
    /* this fixes the overflow:hidden in Chrome/Opera */
}

#theta{
    position: absolute;
    margin: 20px;
    margin-left: 70px;
    top: 53vh;
    height: 10px;
    width: 380px;
    cursor: pointer;
}

h3{
    text-align: center;
    position: relative;
    top: 30px;
}
.inputs{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 250px;
    width: 400px;
    margin-left: 30px;
}
.inputbtn{
    width: 50px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.642);
}